

h1 {
    color: red;
}

.link{
    display: inline;
    margin: 4%;

}
.cabecalho {
    background-color: blue;
}
h1 h2{
    font-family: sans-serif;
}
nav {
   font-weight: bold;
} 
.container{
    margin: 20px;
 }
 #conteudo{
    line-height: 1.5;
 } 
 form{
    border: solid 1px grey;
    padding: 10px;
 }  
 p{
    color: green;
 }
 button{
    background-color: aqua;
    color: white;
 }
 #rodape{
    border-top: 2px solid red;
 }